*{
    padding: 0;
    margin: 0;
}
.con1{
    height: 653px;
    width: 500px;
    background-color: black;
    margin-top: 100px;
    margin-left: 480px;
    
    
    

}
.c1 img{
    width: 350px;
    height: 500px;
    margin-left: 50px;
}
.c2{
    color: white;

}
.c2 p{
    /* width: 200px; */
    /* margin-right: 100px; */
   /* margin-top: 50px; */
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
    
}
.c2 h1{
    display: flex;
    text-align: center;
    justify-content: center;
    
}
.c3{

    background-color: bisque;
height: 50px;
display: flex;
    text-align: center;
    justify-content: center;

}